html {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}

.buttonreset, button {
    font-size: 25px;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: 2%;
  
}

.output {
    font-size: 35px;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
    font-weight: bolder;
}

label, input{
    font-size: 35px;
    text-align: center;
}

table{border-collapse: collapse;
    border: 2px solid black;
    font-size: 35px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: white;
  
}

th {border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    font-weight: lighter;
    width: 20%;
    font-weight: bolder;
  
}

.linha2 {
    border-collapse: collapse; border: 2px solid black;
    width: 4%;
    height: 5%;
}
